body {
	font-family: 'Poppins', 'sans-serif';
}

#nav-hover:hover {
	border-bottom: 2px solid green;
	color: #f71f47;
}

.section-container {
	padding-top: 100px;
	padding-bottom: 20px;
}

#title {
	text-align: center;
	color: #585858;
}

.title-decor {
	position: absolute;
}

#title {
	text-align: center;
	color: #585858;
}

.bar {
	text-align: center;
	position: relative;
	transform: translateY(-80%);
}

.red {
	font-size: 35px;
	font-weight: bold;
	color: #fe0002;
}

.green {
	font-size: 35px;
	font-weight: bold;
	color: #009d02;
}

/* FOOTER */

footer {
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 50px;
}



/* ------------------------------------------------ */
/* Always include above */


.gallery-container {
	margin-bottom: 30px;
}

.row {
	margin-bottom: 10px;
}

#img-tmb-red {
	border: 1px solid #fe0002;
	margin: 10px;
	/*height: 200px;
	width: 100%;*/
}

#img-tmb-red:hover {
	border: 1px solid #009d02;
	background-color: #009d02;
}


#myImg {
	width: 100%;
	max-width: 1600px;
	height: auto;
}

#modal-box {
	width: 100%;
	max-width: 900px;
}


@media only screen and (max-width: 585px) {
	.modal-content {
		/* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
		width:inherit;
		max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
		height:inherit;
		/* To center horizontally */
		margin: 0 auto;
		pointer-events: all;
	}
}