body {
	font-family: 'Poppins', 'sans-serif';
}

#nav-hover:hover {
	border-bottom: 2px solid green;
	color: #f71f47;
}

.section-container {
	padding-top: 100px;
	padding-bottom: 50px;
}

#title {
	text-align: center;
	color: #585858;
}

.title-decor {
	position: absolute;
}

#title {
	text-align: center;
	color: #585858;
}

.bar {
	text-align: center;
	position: relative;
	transform: translateY(-80%);
}

.red {
	font-size: 35px;
	font-weight: bold;
	color: #fe0002;
}

.green {
	font-size: 35px;
	font-weight: bold;
	color: #009d02;
}

/* FOOTER */

footer {
	color: white;
	text-align: center;
	font-size: 12px;
	line-height: 50px;
}



/* ------------------------------------------------ */
/* Always include above */

.card-title {
	text-align: center;
	color: #f71f47;
}

#border-red {
	border: 1px solid #f71f47;
	margin-top: 10px;
}

.row {
	margin: 50px auto 0 auto;
}

.mission-vision {
	margin: 0 auto;
}

.section-container h3 {
	margin-bottom: 30px;
}

